{% block body %}
    <h1>Euromilhões</h1>
    <p>Total generated bets: {{ game.bets()|length }}</p>
    <ul>
        {% for bet in game.bets %}
        <li>{{ bet.numbers|join(', ') }} + {{ bet.extras|join(', ') }}</li>
        {% endfor %}
    </ul>
    <a href="/">Go back</a>
{% endblock %}

{% block title %}

{% endblock %}

