{% block body %}
    <h1>Santa Casa games bet generator!</h1>
    <p>This app can generate a given number of bets for Sata Casa's games Totoloto and Euromilhões.</p>

    <ul>
        <li>Generate <a href="/totoloto">Totoloto</a> bets.</li>
        <li>Generate <a href="/euromilhoes">Euromilhões</a> bets.</li>
    </ul>
{% endblock %}